{% extends 'base.html' %}

{% block head %}
<style>
.menu_button {
    width: 60%;
    min-width: 200px;
    max-width: 400px;
    height: 35px;
    margin: 10px auto;
    list-style-type: none;
}

.menu_list {
    text-align: center;
    padding-inline-start: 0;
}

.menu_item {
    list-style-type: none;
}
</style>
{% endblock %}

{% block content %}
<div style="margin: 20px;">
    <ul class="menu_list">
        <li class="menu_item">
            <input type="button" class="menu_button" onclick="goPredict();" value="書式不明の台本を読み込む" />
            <p>行の種類 (セリフ, ト書き, etc.) を予測します。</p>
        </li>
        <li class="menu_item">
            <input type="button" class="menu_button" value="決まった書式の台本を読み込む" />
            <p>現在、読み込める書式は Fountain JA のみです。</p>
        </li>
    </ul>
</div>
{% endblock %}

{% block javascript %}
<script>
function goPredict () {
    const url = "{% url 'script:predict' %}";
    window.location = url;
}
</script>
{% endblock %}
